name: API Tests with Allure Report

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: write   # ✅ даём Actions право пушить в gh-pages

jobs:
  pytest:
    runs-on: ubuntu-latest

    env:
      SQUARE_BASE_URL: ${{ secrets.SQUARE_BASE_URL }}
      SQUARE_TOKEN: ${{ secrets.SQUARE_TOKEN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run pytest and collect Allure results
        run: pytest -v -s --disable-warnings --alluredir=allure-results

      # ✅ Генерируем Allure без Docker
      - name: Install Allure
        run: |
          sudo apt-get update
          sudo apt-get install -y openjdk-17-jre
          curl -o allure-2.35.1.tgz -L https://github.com/allure-framework/allure2/releases/download/2.35.1/allure-2.35.1.tgz
          tar -xzf allure-2.35.1.tgz
          sudo mv allure-2.35.1 /opt/allure
          sudo ln -s /opt/allure/bin/allure /usr/bin/allure

      - name: Generate Allure report
        run: allure generate allure-results --clean -o allure-report

      - name: Deploy Allure report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: allure-report
