name: API Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  pytest:
    runs-on: ubuntu-latest

    env:
      SQUARE_BASE_URL: ${{ secrets.SQUARE_BASE_URL }}
      SQUARE_TOKEN: ${{ secrets.SQUARE_TOKEN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run pytest
        run: |
          pytest -v -s --maxfail=1 --disable-warnings

      - name: Generate Allure results
        if: always()
        run: |
          pytest --alluredir=allure-results

      - name: Upload Allure report artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-results
